<a href="https://colab.research.google.com/github/zuhayerror3i8/AI-ML-Expert-With-Phitron-Batch-01/blob/main/000%20Python%20For%20ML/016_Module_12_05_Practice_Day_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 12.5 — Practice Day 5

```
Problem 1:
    Create a Pandas Series from the list [10, 20, 30, 40, 50]. Print the Series, its index, and data type. Then create a DataFrame with columns "Name", "Age", and "City" containing at least 4 rows of data.
```

In [ ]:
import pandas as pd

series = pd.Series([10, 20, 30, 40, 50])

print(series)
print(series.index)
print(series.dtype)

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['NYC', 'LA', 'Chicago', 'Boston']
})

print(df)

```
Problem 2:
    Using any DataFrame, write code to print the number of rows and columns, column data types (.dtypes), and summary statistics (.describe()).
```

In [ ]:
print(df.shape)

print(df.dtypes)

print(df.describe())

```
Problem 3:
    Create a DataFrame using the dictionary below:
    data = {
        'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
        'Price': [10, 50, 5, 7],
        'Quantity': [100, 60, 200, 150]
    }
    Print .columns, .index. Access a single column and one full row.
```

In [ ]:
data = {
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
    'Price': [10, 50, 5, 7],
    'Quantity': [100, 60, 200, 150]
}

df3 = pd.DataFrame(data)

print(df3.columns)
print(df3.index)
print(df3['Price'])
print(df3.loc[0])

```
Problem 4:
    Using .loc[] and .iloc[], show the first row, the second column, and a 2×2 block from the middle of your DataFrame.
```

In [ ]:
print(df3.iloc[0])

print(df3.iloc[:, 1])

print(df3.iloc[1:3, 1:3])

```
Problem 5:
    Create a 4×3 DataFrame of student names and marks. Drop one column using .drop(), drop one row by index.
```

In [ ]:
df5 = pd.DataFrame({
    'Name': ['Ali', 'Sara', 'John', 'Maya'],
    'Math': [85, 90, 78, 92],
    'Science': [88, 85, 80, 95]
})
print(df5)

df5 = df5.drop(columns='Science')
print(df5)

df5 = df5.drop(index=0)
print(df5)

```
Problem 6:
    Create a DataFrame of employees with columns "Name", "Department", and "Salary". Sort it by "Salary" in ascending order and by "Name" in descending order.
```

In [ ]:
df6 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'IT', 'Finance', 'IT'],
    'Salary': [50000, 60000, 55000, 65000]
})

print(df6.sort_values('Salary'))

print(df6.sort_values('Name', ascending=False))

```
Problem 7:
    Create a DataFrame of 8 students with columns "Name" and "Score". Filter and print students with Score > 60 and those with Score < 40.
```

In [ ]:
df7 = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
    'Score': [85, 45, 30, 70, 55, 95, 25, 60]
})

print(df7[df7['Score'] > 60])

print(df7[df7['Score'] < 40])