<a href="https://colab.research.google.com/github/zuhayerror3i8/AI-ML-Expert-With-Phitron-Batch-01/blob/main/000%20Python%20For%20ML/017_Module_13_Mid_Term_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 13 â€” Mid Term Exam

In [ ]:
# <--- STARTER CODE --->
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

### SOLUTION: Q-01

In [ ]:
arr_age = np.array(ages)
arr_salary = np.array(salaries)

print(arr_age)
print(arr_age.dtype)
print(arr_age.ndim)
print(arr_age.shape)
print(arr_age.size)

print(arr_salary)
print(arr_salary.dtype)
print(arr_salary.ndim)
print(arr_salary.shape)
print(arr_salary.size)

### SOLUTION: Q-02

In [ ]:
highest_salary = np.max(arr_salary)
lowest_salary = np.min(arr_salary)
avg_salary = np.mean(arr_salary)
avg_age = np.mean(arr_age)

print(highest_salary)
print(lowest_salary)
print(avg_salary)
print(avg_age)

### SOLUTION: Q-03

In [ ]:
greater30 = arr_age[np.where(arr_age>30)]
greater30_cnt = np.count_nonzero(arr_age>30)

print(greater30)
print(greater30_cnt)

### SOLUTION: Q-04

In [ ]:
new_arr_age = arr_age + 5

print(new_arr_age)

### SOLUTION: Q-05

In [ ]:
total_salary = np.sum(arr_salary)

max_salary = np.max(arr_salary)
min_salary = np.min(arr_salary)

salary_diff = max_salary - min_salary

print(total_salary)
print(salary_diff)

### SOLUTION: Q-06

In [ ]:
df = pd.read_csv('employees.csv')

In [ ]:
df.head(5)

In [ ]:
df.info()

In [ ]:
df.describe()

### SOLUTION: Q-07

In [ ]:
df.loc[:, ['id', 'age', 'salary']]

In [ ]:
df.tail(3)

### SOLUTION: Q-08

In [ ]:
it_emp = df.loc[df['dept']=='IT']

it_emp

In [ ]:
print(len(it_emp))

### SOLUTION: Q-09

In [ ]:
df_sort = df.sort_values(['salary'], ascending=False)

df_sort

In [ ]:
df_sort.loc[:, ['id', 'dept', 'age']].head(3)

### SOLUTION: Q-10

In [ ]:
df.loc[df['salary'] > 80000, 'salary'] = 80000

new_avg_salary = np.mean(df['salary'])

print(new_avg_salary)