<a href="https://colab.research.google.com/github/zuhayerror3i8/AI-ML-Expert-With-Phitron-Batch-01/blob/main/000%20Python%20For%20ML/018_Module_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 14 â€” Data Analysis with Pandas Part 02

In [ ]:
# <--- String Pattern Matching in Pandas --->
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Sakib"],
    "City": ["New York", "Los Angeles", "Newark", "Boston", "New Delhi", "Chicago", "New Orleans", "Houston", "H Los Ang"],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "Marketing", "Finance", "HR", "HR"],
    "Salary": [50000, 60000, 55000, 70000, 52000, 58000, 62000, 51000, 70000]
}

df = pd.DataFrame(data)
df

In [ ]:
# Filter rows where City contains "New" (case-sensitive)
df.loc[df['City'].str.contains("New")]

In [ ]:
# Filter rows where City contains "new" (case-insensitive)
df.loc[df['City'].str.contains("new", case=False)]

In [ ]:
# Filter rows where City starts with "Los" (using regex)
# ^ denotes start of string
df.loc[df['City'].str.contains(r"^Los")]

In [ ]:
# Filter rows where City ends with "rk" (using regex)
# $ denotes end of string
df.loc[df['City'].str.contains(r"rk$")]

In [ ]:
# Filter rows where Name starts with a vowel
# [AEIOU] denotes any vowel character
df.loc[df['Name'].str.contains(r"^[AEIOU]")]

In [ ]:
# Filter rows where City contains "New" OR "Los"
# | denotes OR in regex
df.loc[df['City'].str.contains(r"New|Los")]

## Adding New Columns to DataFrames

In [ ]:
# <--- Adding Columns to DataFrame --->
df = pd.read_csv('student_data.csv')
df

In [ ]:
# Adding a column with a constant value
df['Country'] = 'Bangladesh'
df

In [ ]:
# Adding a column based on calculation from other columns
df['Total Marks'] = df['Data Structure Marks'] + df['Python Marks'] + df['Algorithm Marks']
df

In [ ]:
# Adding a column with conditional values using np.where
import numpy as np

# If Data Structure Marks > 90, assign 'A+', otherwise 'A'
df['A+ in DS'] = np.where(df['Data Structure Marks'] > 90, 'A+', 'A')
df

In [ ]:
# Adding a boolean column based on condition
df['Passed in DS'] = df['Data Structure Marks'] > 70
df

In [ ]:
# Adding a column by extracting part of another column
# Split FullName by space and take the first element
df['First Name'] = df['FullName'].str.split(' ').str[0]
df

In [ ]:
# <--- Saving DataFrame to CSV --->
# Load fresh data for demonstration
df1 = pd.read_csv('student_data.csv')
df1

In [ ]:
# Save DataFrame to a new CSV file
df.to_csv('new_data.csv')

## Unique and Nunique Operations

In [ ]:
# <--- Finding Unique Values --->
data = {
    "Name": ["Alice", "Bob", "Charlie", "Alice", "David", "Bob"],
    "City": ["New York", "London", "Paris", "New York", "Tokyo", "London"],
    "Score": [85, 90, 78, 85, 95, 90]
}

df = pd.DataFrame(data)
df

In [ ]:
# Get unique values from a column (works on Series only)
df['Name'].unique()

In [ ]:
# Load student data for unique value analysis
df1 = pd.read_csv('student_data.csv')
df1

In [ ]:
# Count number of unique values (two methods)
len(df1['Data Structure Marks'].unique())  # Method 1: Length of unique array
df1['Data Structure Marks'].nunique()      # Method 2: Direct count of unique values

In [ ]:
# Count unique values for each column in DataFrame
df.nunique()

## Checking for Null Values

In [ ]:
# <--- Detecting Null Values --->
# Check for null values in entire DataFrame (returns boolean DataFrame)
df1.isnull()

In [ ]:
# Check for null values in a specific column
df1['Data Structure Marks'].isnull()

In [ ]:
# Check for non-null values in a specific column
df1['Data Structure Marks'].notnull()

In [ ]:
# Check if column has any null values (returns True/False)
df1['Data Structure Marks'].hasnans

In [ ]:
# Check another column for null values
df1['StudentID'].hasnans

## Handling Duplicate Values

In [ ]:
# <--- Detecting and Removing Duplicates --->
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "Alice", "David", "Bob"],
    "City": ["New York", "London", "Paris", "New York", "Tokyo", "London"],
    "Score": [85, 90, 78, 70, 95, 90]
}

df = pd.DataFrame(data)
df

In [ ]:
# Count total number of duplicate rows
df.duplicated().sum()

In [ ]:
# Remove duplicate rows (returns new DataFrame)
df.drop_duplicates()

In [ ]:
# Remove duplicates permanently (modifies original DataFrame)
df.drop_duplicates(inplace=True)
df

In [ ]:
# Remove duplicates based on specific column (Name)
df.drop_duplicates(subset=['Name'])

In [ ]:
# Remove duplicates based on City column
df.drop_duplicates(subset=['City'])

In [ ]:
# Remove duplicates keeping the last occurrence
df.drop_duplicates(subset=['Name'], keep='last')

In [ ]:
# Remove duplicates keeping the first occurrence (default behavior)
df.drop_duplicates(subset=['Name'], keep='first')

## Handling Null Values

In [ ]:
# <--- Dropping Null Values --->
df = pd.read_csv('student_data.csv')
df

In [ ]:
# Drop all rows with any null values
df.dropna()

In [ ]:
# Drop rows where all values are null
df.dropna(how='all', inplace=True)
df

In [ ]:
# Drop rows with null values in specific column
df.dropna(subset=['Python Marks'])

In [ ]:
# Drop rows with null values in multiple specific columns
df.dropna(subset=['Python Marks', 'Algorithm Marks'])

In [ ]:
# <--- Filling Null Values --->
# Fill all null values with 0
df.fillna(0)

In [ ]:
# Reload data for filling demonstration
df = pd.read_csv('student_data.csv')
df

In [ ]:
# Fill all null values with 0
df.fillna(0)

In [ ]:
# Fill null values in specific column with custom value
df['FullName'].fillna('unknown')

In [ ]:
# Fill null values with column mean (useful for numerical data)
df['Python Marks'].fillna(df['Python Marks'].mean(), inplace=True)
df

## Statistical Functions in Pandas

In [ ]:
# <--- Basic Statistical Operations --->
# Remove null values for statistical calculations
df.dropna()

In [ ]:
# Sum of all values in a column
df['Data Structure Marks'].sum()

In [ ]:
# Maximum and minimum values in a column
print(df['Data Structure Marks'].min())
df['Data Structure Marks'].max()

In [ ]:
# Mean (average) of values in a column
df['Data Structure Marks'].mean()

In [ ]:
# Median (middle value) of a column
df['Data Structure Marks'].median()

In [ ]:
# Mode (most frequent value) of a column
df['Data Structure Marks'].mode()

In [ ]:
# Standard deviation (measure of data spread)
df['Data Structure Marks'].std()

In [ ]:
# Correlation matrix between columns
df[['Data Structure Marks', 'Python Marks']].corr()

In [ ]:
# Sum across multiple columns row-wise (axis=1)
df[['Data Structure Marks', 'Python Marks']].sum(axis=1)

In [ ]:
# Calculate total marks using iloc for column selection
df['Total Marks'] = df.iloc[:, 2:5].sum(axis=1)
df

In [ ]:
# Get comprehensive statistical summary
df.describe()

## Apply Function on DataFrames

In [ ]:
# <--- Min-Max Scaling using apply with lambda --->
# Normalize values to range [0, 1]
mn = df['Total Marks'].min()
mx = df['Total Marks'].max()

df['Scaled Marks'] = df['Total Marks'].apply(lambda x: (x - mn) / (mx - mn))
df

In [ ]:
# <--- Using apply with custom function --->
def grading_system(marks):
    if marks >= 260:
        return 'A+'
    elif marks >= 250:
        return 'A'
    else:
        return 'A-'

# Apply custom grading function to Total Marks column
df['Grade'] = df['Total Marks'].apply(grading_system)
df

In [ ]:
# <--- Using apply with multiple columns (axis=1) --->
def marking_system(df):
    a = df['Data Structure Marks'] * 2
    b = df['Python Marks'] * 3
    c = df['Algorithm Marks'] * 4
    return a + b + c

# Apply function across rows (axis=1) to access multiple columns
df['Exceptional Marks'] = df.apply(marking_system, axis=1)
df

## DateTime and TimeDelta Operations

In [ ]:
# <--- Working with DateTime --->
df = pd.read_csv('student_completed_data.csv')
df

In [ ]:
# Convert string column to datetime object
df['EnrollmentDate'] = pd.to_datetime(df['EnrollmentDate'])
df['EnrollmentDate']

In [ ]:
# Extract year from datetime column
df['Enrollment Year'] = df['EnrollmentDate'].dt.year
df

In [ ]:
# Extract day from datetime column
df['Enrollment Date'] = df['EnrollmentDate'].dt.day
df

In [ ]:
# Convert FinishedDate to datetime
df['FinishedDate'] = pd.to_datetime(df['FinishedDate'])
df

In [ ]:
# Calculate time difference between two datetime columns (TimeDelta)
df['Total time taken to finish'] = df['FinishedDate'] - df['EnrollmentDate']
df

## GroupBy Operations

In [ ]:
# <--- Grouping Data by Category --->
# Drop unnecessary columns for cleaner groupby
df.drop(columns=['StudentID', 'FullName', 'CompletionStatus'], inplace=True)
df

In [ ]:
# Group DataFrame by Instructor column
group = df.groupby('Instructor')
group

In [ ]:
# Calculate sum for each group
group.sum()

In [ ]:
# Calculate minimum for each group
group.min()

In [ ]:
# Calculate maximum for each group
group.max()

In [ ]:
# Get first row of each group
group.first()

In [ ]:
# Get last row of each group
group.last()

In [ ]:
# Get top 5 students per instructor sorted by Total Marks
df.sort_values('Total Marks', ascending=False).groupby('Instructor').head(5)

In [ ]:
# <--- Counting with Boolean Conditions --->
import pandas as pd

df = pd.read_csv('student_completed_data.csv')
df

In [ ]:
# Create boolean Series where Total Marks > 250
df['Total Marks'] > 250

In [ ]:
# Count how many students have Total Marks > 250
(df['Total Marks'] > 250).sum()